/*Kustomer estilos*/

/*400px de ancho para inputs con clase typeahead*/
.typeahead {
    width:400px;
}
.fieldcontain{
    margin-top: -10px;
}
.espacio{
    margin-top: 10px;
}
.mostrardiv{
  display: inline;
}
.mostrarparty{
  text-align: center;
  border-top: 0px;
}
.tdizq{
  float: right;
}
