/*Kustomer estilos*/

/*400px de ancho para inputs con clase typeahead*/
.typeahead {
    width:400px;
}
.fieldcontain{
    margin-top: -10px;
}
.espacio{
    margin-top: 10px;
}
.mostrardiv{
  display: inline;
}
.mostrarparty{
  text-align: center;
  border-top: 0px;
}
.tdizq{
  float: right;
}
.titulotareas{
  margin-left: 15px;
}
.footer{
  background-color: #4298B8;
  text-align: center;
  color: #FFFFFF; 
}
.titulo1{
  font-size: 48px;
  font-family: fantasy;
}
.subtitulo{
  font-size: 38px;
  font-family: sans-serif;
}
.tamaño{
  width: 200px; height: 200px;
}